@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #4e2734;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #090406;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: white;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #211d1e;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #4e2734;
  color: white;

}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

form.example{
  padding-top: 20px;
  padding-left: 15px;
}
form.example input[type=text] 
{
    padding: 10px;
    font-size: 17px;
    border: 1px solid #f8f8f8;
    float: left;
    width: 22%;
    background: #f8f8f8;
    color: #020202;
}
form.example button 
{
    float: left;
    width: 5%;
    padding: 9px;
    background: #f8f8f8;
    color: #000000;
    font-size: 17px;
    border: 1px solid #f8f8f8;
    border-left: none;
    cursor: pointer;
}
  
  form.example button:hover 
  {
    background:#717171;
  } 
  form.example::after 
  {
    content: "";
    clear: both;
    display: table;
    
  }
  .wrapper .main_content .all{
    padding-left: 20px;
    padding-top: 40px;
  }
  .wrapper .main_content .all h1{
    color: #fff;
  }
  table, th, td {
    border: 1px solid rgb(255, 255, 255);
  }
  .table{
    padding-left: 20px;
    padding-top: 20px;
  }
  table{
    width: 98%;
    border-collapse: collapse;
    font-size: 23px;
    color: white;
  }
  th{
    height: 30px;
    background-color: #211d1e;
  }
  td{
    text-align: center;
    height: 30px;
    background-color: #090406;
  }
  .table tr td i{
   font-size: 36px;
  }
  td:hover {
    background-color: #717171;
  }

.music-play{
  height: 240px;
  width: 1123px;
  padding: 20px;
  overflow: hidden;
  color: #fff;
}
.song-name, .artist-name{
  text-align: center;
  text-transform: capitalize;
}
.song-name{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}
.artist-name{
  font-size: 2opx;
}
.song-slider{
  width: 700px;
  position: relative;
  margin: auto;
}
.seek-bar{
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #090406;
  cursor: pointer;
  overflow: hidden;
}
.seek-bar::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 1px;
  height: 20px;
  background: #211d1e;
  box-shadow: -400px 0 0 400px #fff;
}
.current, .duration{
  font-size: 15px;

}
.duration{
  position: absolute;
  right: 0;
}
.controls{
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
}
.play-btn{
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  border: none;
  
}
.play-btn span{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  width: 10px;
  height: 30px;
  border-radius: 2px;
  background: #090406;
  transition: .5s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.play-btn span:nth-child(2){
  left: 55%;
  transform-origin: center;
}
.play-btn.pause span:nth-child(2){
  transform: translateY(-50%) scaleY(0);
}
.play-btn.pause span:nth-child(1){
  width: 35%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}


@keyframes pulse{
  0%{
    box-shadow: 0;
  }
  50%{
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
  }
  100%{
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
  }
}
.btn{
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
label {
  background: transparent;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.show-btn{
 background: transparent;
 border: none;
 cursor: pointer;
}
.show-btn.disabled{
  pointer-events: none;
}
.modal{
  margin-left: 500px;
  margin-top: 70px;
  margin-bottom: 400px;
  opacity: 0;
  width: 360px;
  transition: bottom 0.4s, opacity 0.4s;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  position: absolute;
}
.form-control{
    width: 70%;
    margin-left: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
}
.modal.show{
  bottom: 0;
  opacity: 1;
}
.modal .top-content{
  background: #090406;
  width: 100%;
}
.top-content .left-text{
  text-align: left;
  padding: 10px 15px;
  font-size: 18px;
  color: #f2f2f2;
  font-weight: 500;
  user-select: none;
}

.modal .bottom-content{
  background: #211d1e;
  width: 100%;
  padding: 15px 0px;
}

.bottom-content .btn{
  padding: 15px 0;
}
#create{
    padding: 9px 13px;
    font-size: 15px;
    border-radius: 5px;
    color: #f2f2f2;
    font-weight: 400;
    background: #4e2734;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: background 0.2s;
    cursor: pointer;
    margin-right: 10px;
}
#cancel{
    padding: 9px 13px;
    font-size: 15px;
    border-radius: 5px;
    color: #000000;
    font-weight: 400;
    background: #ffffff;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: background 0.2s;
    cursor: pointer;
}
#btnof{
  margin-left: 250px;
  margin-top: 20px;
}


.show-btn1{
  background: transparent;
  border: none;
  cursor: pointer;
 }
 .show-btn1.disabled{
   pointer-events: none;
 }

 .modal1{
  margin-left: 500px;
  margin-top: 70px;
  margin-bottom: 400px;
  opacity: 0;
  width: 360px;
  transition: bottom 0.4s, opacity 0.4s;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  position: absolute;
}
.dragdrop{
  background: #fff;
  width: auto;
  height: max-content;
  padding: 30px;
  text-align: center;
  color: grey;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
 .modal1.show{
   bottom: 0;
   opacity: 1;
 }
 .modal1 .top-content1{
   background: #090406;
   width: 100%;
 }
 .top-content1 .left-text1{
   text-align: left;
   padding: 10px 15px;
   font-size: 18px;
   color: #f2f2f2;
   font-weight: 500;
   user-select: none;
 }
 
 .modal1 .bottom-content1{
   background: #211d1e;
   width: 100%;
   padding: 15px 0px;
 }
 
 .bottom-content1 .btn{
   padding: 15px 0;
 }
 #create1{
     padding: 9px 13px;
     font-size: 15px;
     border-radius: 5px;
     color: #f2f2f2;
     font-weight: 400;
     background: #4e2734;
     border-radius: 5px;
     border: none;
     outline: none;
     transition: background 0.2s;
     cursor: pointer;
     margin-right: 10px;
 }
 #cancel1{
     padding: 9px 13px;
     font-size: 15px;
     border-radius: 5px;
     color: #000000;
     font-weight: 400;
     background: #ffffff;
     border-radius: 5px;
     border: none;
     outline: none;
     transition: background 0.2s;
     cursor: pointer;
 }
 #btnof1{
   margin-left: 250px;
   margin-top: 20px;
 }
