@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin:0;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    margin: 0 0 10px;
    position: relative;
}
.section-title h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 20%;
    background-color: #a77554;
    bottom: 0px;
}
.text-center{
    text-align: center!important;
}
.text-left{
    text-align: left!important;
}
.text-right{
    text-align: right!important;
}

/*Header Design*/
header{
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 0px 15px;
    z-index: 10;
    background-color: #f8f8f8;
}
header .row{
    justify-content: space-between;
    align-items: center;
    
}
@keyframes fixHeader{
    0%{
        transform: translateY(-100%);opacity: 0;
    }
    100%{
        transform: translateY(0%);
    }
}

header .brand-name a{
     text-decoration: none;
     font-size: 35px;
     font-weight: 600;
     color: #734627;
     position: relative;
     font-family: 'Ropa Sans', sans-serif;
}
header.fixed .brand-name a{
    color: black;
}
header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
    
}
header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: #734627;
    display: block;
    font-weight: 600;
    position: relative;
    
}
header.fixed .navbar ul li a{
    color: white;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;
}
header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: #734627;
    width: 0%;
    position: absolute;
    left: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header.fixed .navbar ul li a::before{
    background-color: white;
}
header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}
header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
}
/*End Header Design*/

/*Home Design*/
.home{
    min-height: 100vh;
    background-image: url("https://images.ctfassets.net/o2gysnvd04sg/6GdrWR9grVNuzxtYL2SWBz/dcb7afc680c5a333da447d4360b1eaf1/51021552816_c93f83e6be_c.jpg");
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.home .full-screen{
    min-height: 100vh;
}

.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    margin-top: 50px;

}

.home .home-content .block h6{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-shadow: 2px 3px #0c0c17;
    
}
.home .home-content .block h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-shadow: 2px 3px #0c0c17;
}
.home .home-content .block h3{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-shadow: 2px 3px #0c0c17;
}
form.example input[type=text] 
{
    padding: 10px;
    font-size: 17px;
    border: 1px solid #f8f8f8;
    float: left;
    width: 56%;
    background: #f8f8f8;
    color: #734627;
}
form.example button 
{
    float: left;
    width: 10%;
    padding: 10px;
    background: #f8f8f8;
    color: #734627;
    font-size: 17px;
    border: 1px solid #f8f8f8;
    border-left: none;
    cursor: pointer;
}
  
  form.example button:hover 
  {
    background: #a77554;
  } 
  form.example::after 
  {
    content: "";
    clear: both;
    display: table;
    
  }
/*End Home Design*/

/*loan-me Design*/
.loan-me{
    padding: 90px 15px;
    background-color: white;
}


.text-uppercase{
    text-transform: uppercase!important;
}

.loan-me .section-title p.small{
    display: block;
    font-size: 14px;
    color: grey;
    font-weight: 400;
    letter-spacing: 2px;
}

.loan-me .home-loan .img{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.loan-me .home-loan .img img{
    width: 100%;
    display: block;
}

.loan-me .home-loan .text{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;  
}
.loan-me .home-loan .text h4{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: black;
}
.loan-me .home-loan .text h6{
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px;
    color: black;
}
.loan-me .home-loan .text h6 span{
    color: #a77554;
}
.loan-me .home-loan .text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: grey;
    margin: 0 0 20px;
}
.loan-me .home-loan .text .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.loan-me .home-loan .text .info .list{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(187, 186, 186);
    padding-bottom: 10px;

}
.loan-me .home-loan .text .info .list label{
    padding-right: 10px;
    color: black;
    font-weight: 600;
    font-size: 15px;
}
.loan-me .home-loan .text .info .list p{
    margin: 0;
}
.loan-me .home-loan .text .social-links{
    padding-top: 40px;

}
.loan-me .home-loan .text .social-links a{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid black;
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.loan-me .home-loan .text .social-links a:hover{
    background-color: transparent;
}

.loan-me .home-loan .text .social-links a .fa{
    color: white;
    font-size: 12px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.loan-me .home-loan .text .social-links a:hover .fa{
    color: black;

}
/*End loan-me Design*/

/*Services Design*/

.services{
    background-color: #f5f8fd;
    padding: 100px 0px 70px;
}
.services .section-title h1:before{
    left: 30%;
}
.services .service-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services .service-content .box{
    background-color: white;
    padding: 30px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    text-align: center;
    position: relative;
    border-radius: 5px;
}
.services .service-content .box::before{
    content: '';
    height: 2px;
    background-color: #a77554;
    position: absolute;
    bottom: 0px;
    width: 60px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}
.services .service-content .box:hover::before{
    width: 100%;

}
.services .service-content .box .icon{
    height: 60px;
    width: 60px;
    background-color: #a77554;
    margin: 15px auto 20px;
    border-radius: 50%;
    text-align: center;
    
 

}
.services .service-content .box .icon .bi{
    font-size: 25px;
    color: black;
    line-height: 60px;
}
.services .service-content .box h5{
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin: 0;

}
.services .service-content .box p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: grey;
    margin: 10px 0 10px;
}
/*End Services Design*/

/*Rent Design*/
.rent{
    background-color: #e5ecf8;
    padding: 100px 7px;
}
.rent .section-title h1::before{
    left: 30%;
}
.rent .filter-buttons{
    flex: 0 0 100%;
    max-width: 100%;
}
.rent .filter-buttons ul{
    list-style: none;
    text-align: center;
    padding: 0;
   
}
.rent .filter-buttons ul li{
    color: black;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin: 0px 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;

}

.rent .filter-buttons ul li.active{
    color: #a77554;
    border-bottom: 2px solid #a77554;
}
.rent .filter-buttons{
    margin-bottom: 25px;
}
.rent .rent-gallery{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.rent .rent-gallery .item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding: 8px;
}
.rent .rent-gallery .item .inner{
    position: relative;
}
.rent .rent-gallery .item img{
    width: 100%;
    display: block;
}
.rent .rent-gallery .item .overlay{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: all .5s ease;

}
.rent .rent-gallery .item:hover .overlay{
    opacity: 1;

}

.rent .rent-gallery .item .overlay .fa{
    height: 50px;
    width: 50px;
    background-color: #a77554;
    color: #e5ecf8;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    
}
.rent .rent-gallery .item:hover .overlay .fa{
    -webkit-animation: galleryIcon .8s ease;
    animation: galleryIcon .8s ease;


}
@keyframes galleryIcon{
    0%{
        transform: translate(-20px);opacity:0;
    }
    100%{
        transform: translate(0);opacity:1;
    }

}
.rent .rent-gallery .item .overlay h4{
    margin-top: 15px;
    font-size: 25px;
    color: #e5ecf8;
    font-weight: 600;
    

}
.rent .rent-gallery .item:hover .overlay h4{
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
}
@keyframes galleryText{
    0%{
        transform: translate(20px);opacity:0;
    }
    100%{
        transform: translate(0);opacity:1;
    }

}
.lightbox{
    position: fixed;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.lightbox.show{
    display: flex;
}
.lightbox.hide{
    display: none;
}
.lightbox .close-lightbox{
    height: 35px;
    width: 35px;
    background-color: burlywood;
    color: #e5ecf8;
    text-align: center;
    line-height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 101;
}
.lightbox img{
    max-width: 90%;
    max-height: 80%;
    display: block;
}

.message-text{
    background-color: #10101f;
    padding: 40px 15px;
}
.message-text .text{
    flex: 0 0 66.66%;
    max-width: 66.66%;

}
.message-text .text h2{
    font-size: 25px;
    color: white;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 36px;
}
.message-text .button{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: right;

}
.message-text .button a{
    border-radius: 4px;
    color: white;
    border: 1px solid white;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}
.message-text .button a:hover{
    background-color:white;
    color: black;
}

/*Agent */

.agent{
    padding: 100px 15px;
    background-color: white;
}
.agent .section-title h1:before{
    left:30%
}
.agent .agent-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.agent .agent-content .box{
    flex: 0 0 calc(33.33% - 25px);
    max-width: calc(33.33% - 25px);
}
.agent .agent-content .box .img{
    overflow: hidden;

}
.agent .agent-content .box .img img{
    width: 100%;
    display: block;

    transition: all .5s ease;
}
.agent .agent-content .box:hover .img img{
    transform: scale(1.1);

}
.agent .agent-content .box .info {
    padding: 10px 0;
}
.agent .agent-content .box .info span{
    font-size: 12px;
    color: #a77554;
    display: inline-block;
}
.agent .agent-content .box .info span:nth-child(2){
    border-left: 1px solid #a77554;
    padding-left: 8px;
    margin-left: 10px;

}
.agent .agent-content .box h3{
    font-size: 22px;
    font-weight: 600;
    color: black;
    margin: 0 0 10px;
    padding: 0;

}
.agent .agent-content .box p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 10px;

}
.agent .agent-content .box a{
    font-size: 14px;
    color: #a77554; ;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid #a77554;;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;

}
.agent .agent-content .box a:hover{
    color: black;
    border-color: black;

}

/*Contact us*/

.contact-us{
    padding: 100px 15px;
    background-color: #dbdee2;
}

.contact-us .section-title h1::before{
    left: 30%;
}
.contact-us .contact-form{
    background-color: white;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 40px;
    border: 1px solid #eeeeee;

}
.contact-us .contact-form .text{
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;

}
.contact-us .contact-form .text h2{
    font-size: 26px;
    font-weight: 600;
    color: black;
    margin: 0;
    padding: 0;
}
.contact-us .contact-form .text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    color: #838383;
    margin: 0px;
}
.contact-us .contact-form .space-between{
    justify-content: space-between;


}
.contact-us .contact-form .col-6{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
}
.contact-us .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-us .contact-form .form-control{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ced4da ;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.contact-us .contact-form textarea.form-control{
    height: 140px;
}
.contact-us .contact-form .form-control::placeholder{
    color: grey;
}
.contact-us .contact-form .button {
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-us .contact-form .button a{
    border-radius: 4px;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: #734627;
    box-shadow: 0px 15px 15px #d5d5d5;
}
.contact-us .contact-form .button a:hover{
    background-color:black;
    color: white;
}
/*End contact*/

/*Popup*/
.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-150%) scale(0);
    width: 300px;
    height: 450px;
    z-index: 2;
    text-align: center;
    border-radius: 20px;
    background: #ced4da;
    z-index: 1;
}
.popup .close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 30px;
    border-radius: 50%;
    padding: 2px 5px 7px 5px;
    background: #734627;
}
.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
    }
h1 {
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
    font-size: 32px;
    padding-bottom: 10px;
}
a {
    font-weight: 600;
    color: rgb(8, 8, 8);
}
.input-field .validate {
   border: none;
   margin-bottom: 15px;
   color: #bfc0c0;
   background: #734627;
   padding: 20px;
   font-size: 16px;
   border-radius: 10px;
   outline: none;
 }
 .second-button {
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 40px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background: #734627;
    outline: none;
} 
.second-button:active{
    background: linear-gradient(145deg,#222222, #292929);
    border: none;
    outline: none;
 }
p{
    color: #734627;
    padding: 20px;
} 

/*End Popup*/



/*Footer*/

footer{
    padding: 70px;
    background-color: #0c0c17;

}

footer .logo{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    color: #734627;
    font-weight: 900;
}
footer .social{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 10px;

}
footer .social a{
    color: #999999;
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    transition: .5s ease;
    text-decoration: none;
}
footer .social a:hover{
    color: white;
}
.copyright{
    background-color: #0c0c17;
    border-top: 1px solid #1d1d27;
    padding: 15px;
}
.copyright p{
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;

}